* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #000;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #000000;
  color: rgb(255, 255, 255);
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0); /*black*/
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #fff; /* set text color to white */
  text-align: center;
  padding: 14px 20px;
  transition: background-color 0.3s ease; /* add transition effect */
  background-color: #000; /* set initial background color to black */
}

.navbar a:hover {
  background-color: #fff; /* change background color to white on hover */
  color: #000; /* change text color to black on hover */
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Main column */
.maintop{   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 3;
  color: white;
  border-bottom-style: dashed;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #000000;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-color: #fff;
  border-right: #ffffff;
  border-right-style: dashed;
  border-bottom-style: dashed;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 10;
}

.middle {
  background-color: #000;
  color: #ffffff;
  font-size: 20px;
}

.scheduler {
  font-size: 50px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding-top: 20px;
  text-align: right;
  border-top-style:dashed;
  border-color: #ffffff;
  border-right: #ffffff;
  color: #ffffff;
}

.readme {
  font-size: 50px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding-top: 20px;
  border-top-style:dashed;
  border-color: #ffffff;
  border-right: #ffffff;
  color: #ffffff;
}

.brewery {
  font-size: 50px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding-top: 20px;
  border-top-style:dashed;
  border-color: #ffffff;
  border-right: #ffffff;
  color: #ffffff;
}

.brewery:hover {
  filter: grayscale(100%);
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

h3 {
  line-height: 2;
}

.mainbottom{   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: rgb(3, 3, 3);
  padding: 20px;
  color: white;
  line-height: 3;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-top-style:dashed;
  border-color: #ffffff;
  border-right: #ffffff;
  color: #ffffff;
}

.bottomside {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: rgb(0, 255, 157);
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}